<table class='table table-hover checklist'>
	<tr>
		<th>Name</th>
		<th>Server IP</th>
		<th>Server Password</th>
		<th>Server Path</th>
		<th>Server Username</th>
		<th><%= link_to "New Sftp Stroage", new_sftp_storage_path, class: 'btn btn-success' %></th>
	</tr>
	<% @sftp_storages.each do |sftp_storage| %>
		<tr id="sftp_storage_<%= sftp_storage.id %>">
			<td><%= sftp_storage.name %></td>
			<td><%= sftp_storage.server_ip %></td>
			<td><%= sftp_storage.server_password %></td>
			<td><%= sftp_storage.server_path %></td>
			<td><%= sftp_storage.server_username %></td>
			<td><%= item_actions(sftp_storage) %></td>
		</tr>
	<% end %>
</table>