<!DOCTYPE html>
<html>
<head>
  <title>NardDog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="<%= root_path %>">NardDog</a>
			<ul class="nav">
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "Apps", apps_path %></li>
				<li><%= link_to "Cloudfile Containers", cloudfile_containers_path %></li>
				<li><%= link_to "SFTP Storages", sftp_storages_path %></li>
				<li><%= link_to "Backups", backups_path %></li>
			</ul>
			<ul class='nav'>
				<% # TODO: ability to update this, checks all apps versions and sets app.needs_updated to true if needs updated %>
				<li>Latest Rails version: <%= current_version %></li>
			</ul>
			<ul class="nav pull-right">
				<%= sign_in_out %>
			</ul>
		</div>
	</div>

	<% if notice %><p class="notice"><%= notice %></p><% end %>
	<% if alert %><p class="alert"><%= alert %></p><% end %>

	<div class="container">	
		<%= yield %>
	</div>

</body>
</html>
